{% extends "base.html" %}

{% block scripts %}
<script src="/static/lib/jquery-1.6.2.min.js"></script>
<script src="/static/lib/underscore-min.js"></script>
<script>
$(function () {
    var container = $("#postcardcontainer"),
        queryForm = $("#q"),
        lastSearch = ""

    var handler = function() {
        var query = queryForm.val()

        if (query == lastSearch)
            return

        var url = "/?" + $.param({
            "q": query,
            "count": {{ pagination.per_page }},
        })
        container.load(url + " #postcardcontainer")

        lastSearch = query
    }

    if ("incremental" in document.createElement("input")) {
        queryForm.bind("search", handler)
    } else {
        queryForm.keyup(_.debounce(handler, 500))
    }
})
</script>
{% endblock %}

{% macro render_pagination() -%}
<nav class="pagination">
<ol>
    {% if pagination.has_prev: %}
    <li class="prev arrow"><a href="{{ url_for(".home", page=pagination.prev_num) }}">&larr;</a></li>
    {% endif %}
    {%- for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1): %}
    {% if page: %}
        {% if page != pagination.page: %}
        <li><a href="{{ url_for(".home", page=page) }}">{{ page }}</a></li>
        {% else: %}
        <li class="current">{{ page }}</li>
        {% endif %}
    {% else: %}
    <li class="ellipsis">&hellip;</li>
    {% endif %}
    {%- endfor %}
    {% if pagination.has_next: %}
    <li class="next arrow"><a href="{{ url_for(".home", page=pagination.next_num) }}">&rarr;</a></li>
    {% endif %}
</ol>
</nav>
{%- endmacro %}

{% block content %}

<form action="/" method="GET">
<fieldset>
    <input type="hidden" id="count" value="{{ pagination.per_page }}">
    <input type="search" id="q" name="q" placeholder="search" incremental
        {% if search_query %}
        value="{{ search_query }}"
        {% endif %}
        >
    <input type="submit" value="go">
</fieldset>
</form>

<div id="postcardcontainer">
{{ render_pagination() }}

<table id="postcards">
<thead>
<tr>
    <th>front</th>
    <th>back</th>
    <th>country</th>
    <th>date</th>
    <th>sender</th>
    <th>tags</th>
    <th colspan="2">action</th>
</tr>
</thead>
<tbody>
{% if pagination.total: %}
{% for postcard in postcards: %}
<tr>
    {% if postcard.front %}
    <td><a class="thumbnail" href="{{ url_base }}{{ postcard.front }}"><img src="{{ url_base }}{{ postcard.front_thumb or DEFAULT_THUMB }}"></a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% if postcard.back %}
    <td><a class="thumbnail" href="{{ url_base }}{{ postcard.back }}"><img src="{{ url_base }}{{ postcard.back_thumb or DEFAULT_THUMB }}"></a></td>
    {% else %}
    <td></td>
    {% endif %}
    <td>{{ postcard.country }}</td>
    <td>{{ postcard.date.strftime('%Y-%m-%d') }}</td>
    <td><a href="http://www.reddit.com/user/{{ postcard.user }}">{{ postcard.user }}</a></td>
    <td>{{ ', '.join(postcard.text_tags) }}</td>
    {% if postcard.published and postcard.submission: %}
    <td class="status-published" colspan="2"><a href="http://www.reddit.com{{ postcard.submission }}">Published</a></td>
    {% elif postcard.published: %}
    <td class="status-published" colspan="2">Publishing&hellip;</td>
    {% else: %}
    <td>
        <form method="POST" action="{{ url_for('.publish') }}">
            <input type="hidden" name="postcard-id" value="{{ postcard.id }}">
            <input type="submit" value="publish">
        </form>
    </td>
    <td>
        <form method="POST" action="{{ url_for('.delete') }}">
            <input type="hidden" name="postcard-id" value="{{ postcard.id }}">
            <input type="submit" value="delete">
        </form>
    </td>
    {% endif %}
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="8" class="empty">there doesn't seem to be anything here</td>
</tr>
{% endif %}
</tbody>
</table>

{{ render_pagination() }}

</div>

{% endblock %}
