<!doctype html>
<html lang="en">
<head>
    <title>postcard stuff</title>
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="/static/postcards.css" type="text/css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
