body {
    font-family: helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 0 .5em;
}

tr:nth-child(even) {
    background: #ccc;
}

a.thumbnail {
    height: 70px;
    width: 70px;
    display: inline-block;
}

.status-published {
    font-size: small;
    text-transform: uppercase;
    text-align: center;
}
