body {
    font-family: helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
}

h1 a {
    text-decoration: none;
    color: black;
}

ul.flashes {
    color: #4a4;
    background: #cfc;
    font-variant: small-caps;
    list-style-type: none;
    padding: .2em 1em;
    border: 2px solid #9c9;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 0 .5em;
    vertical-align: middle;
}

#postcards {
    width: 100%;
}

#postcards th {
    text-transform: uppercase;
}

#postcards tr:nth-child(even) {
    background: #e0e0e0;
}

#postcards tr {
    border-bottom: 1px solid #666;
}

a.thumbnail {
    height: 70px;
    width: 70px;
    display: inline-block;
}

.status-published {
    font-size: small;
    text-transform: uppercase;
    text-align: center;
}

nav.site {
    border-bottom: 2px solid black;
}

nav.site ol {
    margin: 0;
    padding: 0;
}

nav.site li {
    display: inline-block;
    margin: 0 0 0 .3em;
}

nav.site li a {
    text-decoration: none;
    border: 2px solid black;
    padding: .3em .3em 0 .3em;
    background-color: #ccc;
    color: black;
}

nav.site li a:hover {
    background: #e0e0e0;
}

nav.site li.current a {
    color: black;
    background: white;
    font-weight: bold;
    border-bottom: 2px solid white;
}

nav.site li.current a:hover {
    background: white;
}

nav.pagination ol {
    padding: 0;
}

nav.pagination li {
    display: inline-block;
}

nav.pagination li a,
nav.pagination li.current {
    display: inline-block;
    width: 2em;
    text-align: center;
    text-decoration: none;
    border: 2px solid #666;
    color: white;
    background: #666;
}

nav.pagination li a:hover {
    border-color: #999;
    background: #999;
}

nav.pagination li.current {
    font-weight: bold;
    background: black;
    border: 2px solid black;
}

nav.pagination li.ellipsis {
    line-height: 0;
}
